
/* CSS for a Zone to how the nodeshow block 
 * Test here to be in a first preface block on an omega theme
 * TODO: optimise!
 */

.front #zone-preface-wrapper #sliderdata img {
  bottom: 0px;
  position: absolute;
  right: 50%;
}

.front #homeSlider {
  background: none;
  height: 98%;
  width: 100%;
  behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}

.front #homeSlider table {
  background: none;
  font-size: 18px;
  width: 95%;
  margin:auto;
  border: none;
}

.front #homeSlider table {
  background: none;
  font-size: 18px;
  width: 95%;
  margin:auto;
  border: none;
}

.front #homeSlider table td {
  background: none;
  width: 50%;
  padding: 10px;
}

.front #homeSlider td:hover, #homeSlider tr:hover {
  color: #4E4E4E !important;
}

.front #homeSlider tr td.right a {
  padding: 10px;
  width: 90% !important;
  font-size: 16px !important;
}

.front #homeSlider tr td.right a:hover {
  background: #BDBDBD;
  color: #015;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow:inset 0px 0px 4px #000000;
  -webkit-box-shadow:inset 0px 0px 4px #000000;
  -moz-box-shadow:inset 0px 0px 4px #000000;
  behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}


#sliderexplain {
  margin-right: 2%;
  float: right;
}
#slidermenu {
  margin-right: 2%;
  margin-top: 10px;
  float: right;
  clear: right;
  width: 40%;
}
#slidermenu img {
  margin-right: 10px;
  height: 30px;
  width: 35px;
}

#slidermenu2 {
  margin-right: 2%;
  margin-top: 10px;
  float: right;
  clear: right;
  width: 40%;
}

#slidermenu2 a {
  float: left;
}

#sliderdata {
  float: left;
  width: 50%;
}

#sliderdata h2 {
  color: #666;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;
}

#slidermenu a {
  color: #333;
  width: 400px !important;
  font-size: 16px !important;
}

#slidermenu div {
  padding: 7px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-bottom: 1px solid #ccc;
}

#slidermenu div:hover {
  border-bottom: 1px solid #BDBDBD;
  background: #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow:inset 0px 0px 4px #000000;
  -webkit-box-shadow:inset 0px 0px 4px #000000;
  -moz-box-shadow:inset 0px 0px 4px #000000;
  behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
#slidermenu div:hover a {
  color: #015;
}


/* HOW IT WORKS BUTTON */
/* "How it Works" button with gray gradient */
#howitworks {
  background: url(../images/sliderUI/video-button.png);
  height: 55px;
  width: 186px;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-bottom: 10px;
}

#howitworks a {
  color: none !important;
}

/* Hover style of the "How it Works" button with blue gradient (official Swisscom blue gradient) */
#howitworks:hover {
  background: url(../images/sliderUI/video-button-hover.png);
}

.front #slidermenu2 .submitidea {
  background: url(../images/sliderUI/idea-button.png);
  height: 55px;
  width: 186px;
  margin: 0px;
  padding: 0px;
  float: right;
}

.front #slidermenu2 .submitidea:hover {
  background: url(../images/sliderUI/idea-button-hover.png);
}

#block-sislabsgui-sislabsgui2 img.submitidea {
  width: 140px !important;
  height: 40px !important;
  background: none !important;
}

